.icon-Collaborative--Learning {
	background-image: url(../images/spritesheet.png);
	background-position: 0 -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Discover-basics-in--Semester-1 {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -270px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-E-learning--Toolkit {
	background-image: url(../images/spritesheet.png);
	background-position: -685px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Experienced-faculty {
	background-image: url(../images/spritesheet.png);
	background-position: -411px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Expert-mentors {
	background-image: url(../images/spritesheet.png);
	background-position: -274px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Guest-lectures {
	background-image: url(../images/spritesheet.png);
	background-position: -137px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-High_Ranking {
	background-image: url(../images/spritesheet.png);
	background-position: -932px -449px;
	width: 36px;
	height: 48px;
	display: inline-block
}

.icon-IndustrialVisit {
	background-image: url(../images/spritesheet.png);
	background-position: -822px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Interactive-Workshops {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px 0;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Master-application--in-Semester-4 {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -405px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Newswire {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -540px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Online-Support {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -675px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-PGDM-certification {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -810px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Pioneers-of-Hybrid--in-India {
	background-image: url(../images/spritesheet.png);
	background-position: 0 -1047px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Soft-skills-training {
	background-image: url(../images/spritesheet.png);
	background-position: -1082px -135px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Trade_Communitrs {
	background-image: url(../images/spritesheet.png);
	background-position: -932px -300px;
	width: 39px;
	height: 49px;
	display: inline-block
}

.icon-Video-Lectures {
	background-image: url(../images/spritesheet.png);
	background-position: -787px -762px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-Virtual-Classrooms {
	background-image: url(../images/spritesheet.png);
	background-position: -932px -732px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-WeUpskill {
	background-image: url(../images/spritesheet.png);
	background-position: -650px -762px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-WelingkarBrandEquity {
	background-image: url(../images/spritesheet.png);
	background-position: -932px -597px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-arrow_cont_click {
	background-image: url(../images/spritesheet.png);
	background-position: -480px -762px;
	width: 70px;
	height: 36px;
	display: inline-block
}

.icon-e-Stydy-Material {
	background-image: url(../images/spritesheet.png);
	background-position: -548px -912px;
	width: 37px;
	height: 35px;
	display: inline-block
}

.icon-fixed_icon1 {
	background-image: url(../images/spritesheet.png);
	background-position: -665px -1047px;
	width: 32px;
	height: 30px;
	display: inline-block
}

.icon-fixed_icon2 {
	background-image: url(../images/spritesheet.png);
	background-position: -797px -1047px;
	width: 32px;
	height: 30px;
	display: inline-block
}

.icon-fixed_icon3 {
	background-image: url(../images/spritesheet.png);
	background-position: -929px -1047px;
	width: 32px;
	height: 30px;
	display: inline-block
}

.icon-fixed_icon4 {
	background-image: url(../images/spritesheet.png);
	background-position: -640px -612px;
	width: 32px;
	height: 38px;
	display: inline-block
}

.icon-hybrid_videoicon {
	background-image: url(../images/spritesheet.png);
	background-position: -1061px -1047px;
	width: 27px;
	height: 19px;
	display: inline-block
}

.icon-hybridpgdmicon_1 {
	background-image: url(../images/spritesheet.png);
	background-position: -932px 0;
	width: 50px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_10 {
	background-image: url(../images/spritesheet.png);
	background-position: 0 -762px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_11 {
	background-image: url(../images/spritesheet.png);
	background-position: -160px -762px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_12 {
	background-image: url(../images/spritesheet.png);
	background-position: -320px -762px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_13 {
	background-image: url(../images/spritesheet.png);
	background-position: -772px -600px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_14 {
	background-image: url(../images/spritesheet.png);
	background-position: -772px -450px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_15 {
	background-image: url(../images/spritesheet.png);
	background-position: -772px -300px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_16 {
	background-image: url(../images/spritesheet.png);
	background-position: -772px -150px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_17 {
	background-image: url(../images/spritesheet.png);
	background-position: -772px 0;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_18 {
	background-image: url(../images/spritesheet.png);
	background-position: -612px 0;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_2 {
	background-image: url(../images/spritesheet.png);
	background-position: -932px -150px;
	width: 50px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_3 {
	background-image: url(../images/spritesheet.png);
	background-position: -320px -612px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_4 {
	background-image: url(../images/spritesheet.png);
	background-position: -480px -612px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_5 {
	background-image: url(../images/spritesheet.png);
	background-position: -160px -612px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_6 {
	background-image: url(../images/spritesheet.png);
	background-position: 0 -612px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_7 {
	background-image: url(../images/spritesheet.png);
	background-position: -612px -450px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_8 {
	background-image: url(../images/spritesheet.png);
	background-position: -612px -300px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-hybridpgdmicon_9 {
	background-image: url(../images/spritesheet.png);
	background-position: -612px -150px;
	width: 60px;
	height: 50px;
	display: inline-block
}

.icon-learn_more_bg {
	background-image: url(../images/spritesheet.png);
	background-position: -1219px -233px;
	width: 9px;
	height: 16px
}

.icon-learn_more_bg_left {
	background-image: url(../images/spritesheet.png);
	background-position: -1219px -117px;
	width: 9px;
	height: 16px;
	display: inline-block
}

.icon-scrolltop {
	background-image: url(../images/spritesheet.png);
	background-position: 0 0;
	width: 512px;
	height: 512px;
	display: inline-block
}

.icon-social_icon1 {
	background-image: url(../images/spritesheet.png);
	background-position: -533px -1047px;
	width: 32px;
	height: 32px;
	display: inline-block
}

.icon-social_icon2 {
	background-image: url(../images/spritesheet.png);
	background-position: -269px -1047px;
	width: 32px;
	height: 32px;
	display: inline-block
}

.icon-social_icon3 {
	background-image: url(../images/spritesheet.png);
	background-position: -401px -1047px;
	width: 32px;
	height: 32px;
	display: inline-block
}

.icon-twitter {
	background-image: url(../images/spritesheet.png);
	background-position: -137px -1047px;
	width: 32px;
	height: 32px;
	display: inline-block
}

.icon-video_bg {
	background-image: url(../images/spritesheet.png);
	background-position: -1219px 0;
	width: 27px;
	height: 17px;
	display: inline-block
}

.icon-conInSem2 {
	background-image: url(../images/spritesheet.png);
	background-position: -139px -1150px;
	width: 24px;
	height: 34px;
	display: inline-block
}

.icon-learnInSems3 {
	background-image: url(../images/spritesheet.png);
	background-position: -5px -1148px;
	width: 29px;
	height: 30px;
	display: inline-block
}